# Importo `pandas`

In [79]:
import pandas as pd
import numpy as np

# Importando la tabla como raw
Mirando las tablas, ajusto el formato de acuerdo a lo necesario:

In [80]:
df_html = pd.read_html('Data/Movimientos de Pesos.html',    # lee la pagina web y me devuelve una lista con 3 items
                       decimal=',',
                       thousands='.'
                    )

df = df_html[1] # Tabla de trades
df_resumen = df_html[2] # Tabla de resumen

# Ordeno descendiente
df.sort_index(ascending=False, inplace=True, ignore_index=True)

In [81]:
# comienzo
df.head(10)

,Unnamed: 0,Liquida,Operado,Operación,N° Ope.,Especie,Cantidad,Precio,Importe,Saldo,Referencia
0,NaN,01/03/19,01/03/19,COBR,24981,NaN,NaN,NaN,54451.53,54451.53,Transferencia
1,NaN,08/03/19,06/03/19,COTR,49318,MIRG - MIRGOR,10.0,371.097,-3710.97,50740.56,NaN
2,NaN,08/03/19,06/03/19,VTAS,49320,MIRG - MIRGOR,-10.0,361.924,3619.24,54359.80,NaN
3,NaN,11/03/19,07/03/19,CPRA,50360,BBAR - Banco Frances,50.0,140.695,-7034.73,47325.07,NaN
4,NaN,11/03/19,07/03/19,CPRA,50454,PAMP - PAMPA HOLDING S.A.,25.0,49.193,-1229.82,46095.25,NaN
5,NaN,11/03/19,07/03/19,CPRA,50479,"EDN - Edenor Ords. ""B"" 1 Voto",20.0,51.554,-1031.09,45064.16,NaN
6,NaN,11/03/19,07/03/19,CPRA,50548,GGAL - GRUPO FINANCIERO GALICIA,50.0,111.048,-5552.41,39511.75,NaN
7,NaN,11/03/19,07/03/19,CPRA,50675,YPFD - YPF S.A.,12.0,524.388,-6292.66,33219.09,NaN
8,NaN,11/03/19,07/03/19,CPRA,50741,MIRG - MIRGOR,3.0,375.357,-1126.07,32093.02,NaN
9,NaN,11/03/19,07/03/19,CPP$,50889,AO20 - BONAR 2020,2525.0,NaN,-505.00,31588.02,NaN

In [82]:
# final
df.tail(20)

,Unnamed: 0,Liquida,Operado,Operación,N° Ope.,Especie,Cantidad,Precio,Importe,Saldo,Referencia
359,NaN,25/11/21,23/11/21,CPRA,488440,VZ,14.0,5668.482,-79358.75,380374.64,NaN
360,NaN,25/11/21,23/11/21,CPRA,488657,CEDEAR FACEBOOK,19.0,9118.012,-173242.22,207132.42,NaN
361,NaN,29/11/21,25/11/21,CPRA,492281,CEDEAR BRF S.A,40.0,2601.844,-104073.77,103058.65,NaN
362,NaN,29/11/21,29/11/21,PAGO,44424,NaN,NaN,NaN,-15581.62,87477.03,Transferencia
363,NaN,30/11/21,26/11/21,CPRA,493825,DESPEGAR.COM,40.0,2111.926,-84477.03,3000.00,NaN
364,NaN,03/12/21,01/12/21,VTAS,498863,CRES - Cres,-1095.0,98.111,107431.38,110431.38,NaN
365,NaN,06/12/21,02/12/21,CPRA,501066,ALUA - Aluar,1100.0,97.280,-107008.24,3423.14,NaN
366,NaN,07/12/21,03/12/21,VTAS,503896,CEDEAR FACEBOOK,-19.0,8196.634,155736.04,159159.18,NaN
367,NaN,07/12/21,07/12/21,PAGO,44706,NaN,NaN,NaN,-47200.00,111959.18,Transferencia
368,NaN,09/12/21,06/12/21,CPRA,506526,GGAL - GRUPO FINANCIERO GALICIA,500.0,210.238,-105118.92,6840.26,NaN
369,NaN,13/12/21,13/12/21,RTA,108140,CEDEAR BBD - BANCO BRADESCO,NaN,NaN,-0.55,6839.71,EFECT
370,NaN,23/12/21,21/12/21,VTAS,530621,BOX - CEDEAR BIOCERES,-25.0,5746.350,143658.75,150498.46,NaN
371,NaN,23/12/21,21/12/21,CPRA,530633,SPOT - CEDEAR SPOTIFY,80.0,1773.215,-141857.19,8641.27,NaN
372,NaN,03/01/22,03/01/22,DIV,111113,ALUA - Aluar,NaN,NaN,53.23,8694.50,div
373,NaN,13/01/22,11/01/22,CPRA,12756,MSFT - CEDEAR MICROSOFT,16.0,6681.461,-106903.38,-98208.88,NaN
374,NaN,13/01/22,11/01/22,VTAS,12817,CEDEAR AT Y T,-83.0,1840.822,152788.23,54579.35,NaN
375,NaN,13/01/22,11/01/22,VTAS,12840,VZ,-26.0,5611.025,145886.64,200465.99,NaN
376,NaN,31/01/22,27/01/22,VTAS,38655,CRES - Cres,-1000.0,110.499,110499.07,310965.06,NaN
377,NaN,31/01/22,27/01/22,VTAS,39180,DESPEGAR.COM,-40.0,2469.189,98767.57,409732.63,NaN
378,NaN,31/01/22,27/01/22,VTAS,39195,CEDEAR BRF S.A,-6.0,3011.983,18071.90,427804.53,NaN

2. Cambios:
    * elimino la primera columna
    * Cambio es COTR = Compra trading, que tuve una sola y pasaron a ser todas CPRA después

In [83]:
df.drop(df.columns[0], inplace=True, axis=1)
df.at[1, 'Operación'] = 'CPRA'
df

,Liquida,Operado,Operación,N° Ope.,Especie,Cantidad,Precio,Importe,Saldo,Referencia
0,01/03/19,01/03/19,COBR,24981,NaN,NaN,NaN,54451.53,54451.53,Transferencia
1,08/03/19,06/03/19,CPRA,49318,MIRG - MIRGOR,10.0,371.097,-3710.97,50740.56,NaN
2,08/03/19,06/03/19,VTAS,49320,MIRG - MIRGOR,-10.0,361.924,3619.24,54359.80,NaN
3,11/03/19,07/03/19,CPRA,50360,BBAR - Banco Frances,50.0,140.695,-7034.73,47325.07,NaN
4,11/03/19,07/03/19,CPRA,50454,PAMP - PAMPA HOLDING S.A.,25.0,49.193,-1229.82,46095.25,NaN
...,...,...,...,...,...,...,...,...,...,...
374,13/01/22,11/01/22,VTAS,12817,CEDEAR AT Y T,-83.0,1840.822,152788.23,54579.35,NaN
375,13/01/22,11/01/22,VTAS,12840,VZ,-26.0,5611.025,145886.64,200465.99,NaN
376,31/01/22,27/01/22,VTAS,38655,CRES - Cres,-1000.0,110.499,110499.07,310965.06,NaN
377,31/01/22,27/01/22,VTAS,39180,DESPEGAR.COM,-40.0,2469.189,98767.57,409732.63,NaN
378,31/01/22,27/01/22,VTAS,39195,CEDEAR BRF S.A,-6.0,3011.983,18071.90,427804.53,NaN

# Dataframe final

In [84]:
# y con estos tipos, a modificar
df.dtypes

Liquida        object
Operado        object
Operación      object
N° Ope.         int64
Especie        object
Cantidad      float64
Precio        float64
Importe       float64
Saldo         float64
Referencia     object
dtype: object

In [85]:
# Convierto los strings en fechas
df['Liquida'] = pd.to_datetime(df['Liquida'], dayfirst=True)
df['Operado'] = pd.to_datetime(df['Operado'], dayfirst=True)
df.dtypes

Liquida       datetime64[ns]
Operado       datetime64[ns]
Operación             object
N° Ope.                int64
Especie               object
Cantidad             float64
Precio               float64
Importe              float64
Saldo                float64
Referencia            object
dtype: object

Esta celda antes convertía los int en float, pero ya con . y , del principio ya estan convertidos. Creo que no es necesaria. Chequear numeros grandes y chicos
"""
* Convierto los formatos a números `int` y `float`
* Todos tienen 2 decimales, así que tengo que borrar todos los puntos
* y reemplazar , por .
df['Cantidad'] = df['Cantidad'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float)
df['Precio']   =   df['Precio'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float)
df['Importe']  =  df['Importe'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float)
df['Saldo']    =    df['Saldo'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float)
"""

In [86]:
# Me fijo los tipos de datos
df.dtypes

Liquida       datetime64[ns]
Operado       datetime64[ns]
Operación             object
N° Ope.                int64
Especie               object
Cantidad             float64
Precio               float64
Importe              float64
Saldo                float64
Referencia            object
dtype: object

In [87]:
# Renombro las especies a Tickers

# Primero listo todos los tickers que aparecen en el excel de Ecovalores, 
# y les pongo como valor el ticker que usaría para yfinance

tickers_nuevos = {
                  'AAPL - Cedear Apple Inc.': 'AAPL.BA',
                  'ACC. ORD. CABLEVISION HOLDING CL. B': 'CVH.BA',
                  'ALUA - Aluar': 'ALUA.BA',
                  'AO20 - BONAR 2020': 'AO20',
                  'AUTOPISTAS DEL SOL S.A. ACCS D': 'AUSO.BA',
                  'APBR - Petroleo Brasileiro S.A.': 'PBR.BA',
                  'BBAR - Banco Frances': 'BBAR.BA',
                  'BOX - CEDEAR BIOCERES': 'BIOX.BA',
                  'BMA - BANCO MACRO BANSUD': 'BMA.BA',
                  'BOLT': 'BOLT.BA',
                  'BYMA': 'BYMA.BA',
                  'C - Cedear Citigroup': 'C.BA',
                  'CEDEAR ABX BARRICK GOLD CO.': 'GOLD.BA',
                  'CEDEAR AMD': 'AMD.BA',
                  'CEDEAR AMBEV': 'ABEV.BA',
                  'CEDEAR AMAZON': 'AMZN.BA',
                  'CEDEAR AT Y T': 'T.BA',
                  'CEDEAR BABA': 'BABA.BA',
                  'CEDEAR BBD - BANCO BRADESCO': 'BBD.BA',
                  'CEDEAR DISNEY': 'DISN.BA',
                  'CEDEAR FACEBOOK': 'FB.BA',
                  'CEDEAR JP MORGAN': 'JPM.BA',
                  'CEDEAR MELI': 'MELI.BA',
                  'CEDEAR PBR': 'PBR.BA',
                  'CEDEAR TENARIS S.A': 'TS.BA',
                  'CEDEAR TWITTER': 'TWTR.BA',
                  'CEPU - CENTRAL PUERTO': 'CEPU.BA',
                  'CVX Chevron Corporation': 'CVX.BA',
                  'DICA - BONOS DIS U$S 2033 (Ley Arg.)': 'DICA',
                  'DESPEGAR.COM': 'DESP.BA',
                  'EDN - Edenor Ords. "B" 1 Voto': 'EDN.BA',
                  'GE - GENERAL ELECTRIC': 'GE.BA',
                  'GGAL - GRUPO FINANCIERO GALICIA': 'GGAL.BA',
                  'GOOG': 'GOOG.BA',
                  'GRUPO SUPERVIELLE ACC.ORD. "B"': 'SUPV.BA',
                  'HAL - CEDEAR HALLIBURT': 'HAL.BA',
                  'HARMONY GOLD': 'HMY.BA',
                  'Holcim Argentina SA': 'HARG.BA',
                  'KO- CocaCola': 'KO.BA',
                  'MERCADO DE VALORES S.A.': 'BYMA.BA',
                  'MIRG - MIRGOR': 'MIRG.BA', 
                  'MRK - Cedear MERCK & Co': 'MRK.BA',
                  'MSFT - CEDEAR MICROSOFT': 'MSFT.BA',
                  'PAMP - PAMPA HOLDING S.A.': 'PAMP.BA',
                  'PHOENIX GLOBAL RESOURCES PLC ORD. SHS': 'PGR.BA',
                  'SPOT - CEDEAR SPOTIFY': 'SPOT.BA',
                  'TRANS. DE GAS DEL SUR': 'TGSU2.BA2',
                  'TECO2 - TELECOM S.A.': 'TECO2.BA',
                  'TERNIUM ARG S.A. ORDS. A 1 VOTO ESC': 'TXAR.BA',
                  'TGLT- S.A. ACCIONES ORD ESC': 'TGLT.BA',
                  'TGSU2.BA2': 'TGSU.BA',
                  'TS - TENARIS': 'TS.BA',
                  'VZ': 'VZ.BA',
                  'YPFD - YPF S.A.': 'YPFD.BA',
                  'AY24 - BONOS NACION ARG USD 8.75 2024': 'AY24',
                  'ZM - CEDEAR ZOOM': 'ZM.BA',
                  }

# Luego reemplazo todas las keys por su valor en el diccionario
df.replace(to_replace=tickers_nuevos.keys(), value=tickers_nuevos.values(), inplace=True)

In [88]:
# df final
df

,Liquida,Operado,Operación,N° Ope.,Especie,Cantidad,Precio,Importe,Saldo,Referencia
0,2019-03-01,2019-03-01,COBR,24981,NaN,NaN,NaN,54451.53,54451.53,Transferencia
1,2019-03-08,2019-03-06,CPRA,49318,MIRG.BA,10.0,371.097,-3710.97,50740.56,NaN
2,2019-03-08,2019-03-06,VTAS,49320,MIRG.BA,-10.0,361.924,3619.24,54359.80,NaN
3,2019-03-11,2019-03-07,CPRA,50360,BBAR.BA,50.0,140.695,-7034.73,47325.07,NaN
4,2019-03-11,2019-03-07,CPRA,50454,PAMP.BA,25.0,49.193,-1229.82,46095.25,NaN
...,...,...,...,...,...,...,...,...,...,...
374,2022-01-13,2022-01-11,VTAS,12817,T.BA,-83.0,1840.822,152788.23,54579.35,NaN
375,2022-01-13,2022-01-11,VTAS,12840,VZ.BA,-26.0,5611.025,145886.64,200465.99,NaN
376,2022-01-31,2022-01-27,VTAS,38655,CRES - Cres,-1000.0,110.499,110499.07,310965.06,NaN
377,2022-01-31,2022-01-27,VTAS,39180,DESP.BA,-40.0,2469.189,98767.57,409732.63,NaN
378,2022-01-31,2022-01-27,VTAS,39195,CEDEAR BRF S.A,-6.0,3011.983,18071.90,427804.53,NaN

# Selección de datos

## Filtrar por valor de columna

In [111]:
columna = "Especie"
valor_a_buscar = "U11O9"
df.loc[df[columna] == valor_a_buscar]

,Liquida,Operado,Operación,N° Ope.,Especie,Cantidad,Precio,Importe,Saldo,Referencia,CCL del dia,ImporteUSD,SaldoUSD
38,2019-03-27,2019-03-27,CPP$,68677,U11O9,5.0,NaN,-1.04,20305.12,NaN,44.430,-0.02,457.01
79,2019-10-11,2019-10-11,RTA,40585,U11O9,NaN,NaN,NaN,902.58,RESCATE,69.881,NaN,12.92

## Filtrar por número de orden de operación

In [114]:
# Entre dos número de índices
df.iloc[37:81]

,Liquida,Operado,Operación,N° Ope.,Especie,Cantidad,Precio,Importe,Saldo,Referencia,CCL del dia,ImporteUSD,SaldoUSD
37,2019-03-27,2019-03-25,CPRA,66158,BYMA.BA,5.0,328.318,-1641.59,20306.16,NaN,44.430,-36.95,457.04
38,2019-03-27,2019-03-27,CPP$,68677,U11O9,5.0,NaN,-1.04,20305.12,NaN,44.430,-0.02,457.01
39,2019-03-29,2019-03-27,VTAS,68327,ALUA.BA,-60.0,16.434,986.04,21291.16,NaN,43.843,22.49,485.62
40,2019-03-29,2019-03-27,VTAS,68362,BMA.BA,-10.0,187.368,1873.68,23164.84,NaN,43.843,42.74,528.36
41,2019-03-29,2019-03-27,VTAS,68500,GGAL.BA,-10.0,104.898,1048.98,24213.82,NaN,43.843,23.93,552.28
42,2019-03-29,2019-03-27,VTAS,68630,TXAR.BA,-70.0,13.937,975.56,25189.38,NaN,43.843,22.25,574.54
43,2019-03-29,2019-03-27,CPRA,68696,AY24,300.0,4095.373,-12286.12,12903.26,NaN,43.843,-280.23,294.31
44,2019-03-29,2019-03-27,CPRA,68941,DICA,270.0,4518.778,-12200.70,702.56,NaN,43.843,-278.28,16.02
45,2019-04-01,2019-03-28,VTAS,70256,PBR.BA,-10.0,345.278,3452.78,4155.34,NaN,43.011,80.28,96.61
46,2019-04-03,2019-03-29,VTAS,71105,CEPU.BA,-9.0,39.256,353.30,4508.64,NaN,43.139,8.19,104.51
47,2019-04-03,2019-03-29,VTAS,71166,TGSU2.BA2,-8.0,113.733,909.86,5418.50,NaN,43.139,21.09,125.61
48,2019-04-03,2019-03-29,VTAS,71178,YPFD.BA,-2.0,602.150,1204.30,6622.80,NaN,43.139,27.92,153.52
49,2019-04-03,2019-03-29,CPRA,71298,AO20,100.0,4191.420,-4191.42,2431.38,NaN,43.139,-97.16,56.36
50,2019-04-03,2019-03-29,VTAS,71356,SUPV.BA,-22.0,53.583,1178.82,3610.20,NaN,43.139,27.33,83.69
51,2019-04-03,2019-03-29,VTAS,71379,TS.BA,-1.0,606.970,606.97,4217.17,NaN,43.139,14.07,97.76
52,2019-04-08,2019-04-04,VTAS,74512,GGAL.BA,-51.0,105.947,5403.31,9620.48,NaN,43.889,123.11,219.20
53,2019-04-08,2019-04-04,CPRA,74637,AY24,200.0,4109.445,-8218.89,1401.59,NaN,43.889,-187.27,31.93
54,2019-04-08,2019-04-04,VTAS,74791,PBR.BA,-10.0,342.817,3428.17,4829.76,NaN,43.889,78.11,110.04
55,2019-04-08,2019-04-04,CPRA,74797,DICA,90.0,4562.700,-4106.43,723.33,NaN,43.889,-93.56,16.48
56,2019-04-08,2019-04-08,RTA,31820,AO20,NaN,NaN,-22.36,700.97,RENTA,43.889,-0.51,15.97
57,2019-04-09,2019-04-09,COBR,26174,NaN,NaN,NaN,7000.00,7700.97,Transferencia,43.681,160.25,176.30
58,2019-04-15,2019-04-11,CPRA,80396,AO20,300.0,4030.050,-12090.15,-4389.18,NaN,42.342,-285.54,-103.66
59,2019-04-17,2019-04-17,DIV,32184,TXAR.BA,NaN,NaN,28.31,-4360.87,DIV. EN EFECT.,42.742,0.66,-102.03
60,2019-04-17,2019-04-17,DIV,32326,BYMA.BA,NaN,NaN,49.89,-4310.98,EFECT.,42.742,1.17,-100.86
61,2019-04-23,2019-04-23,DIV,32731,TGSU2.BA2,NaN,NaN,104.53,-4206.45,EFECT,42.851,2.44,-98.16
62,2019-04-23,2019-04-23,DIV,32891,TGSU2.BA2,NaN,NaN,19.09,-4187.36,EFEC,42.851,0.45,-97.72
63,2019-05-07,2019-05-07,RTA,33781,AY24,NaN,NaN,-20.50,-4207.86,RENT. AMORT,46.017,-0.45,-91.44
64,2019-05-09,2019-05-09,DIV,34385,GGAL.BA,NaN,NaN,58.88,-4148.98,DIV. EN EFECT.,45.643,1.29,-90.90
65,2019-05-14,2019-05-14,DIV,34724,BMA.BA,NaN,NaN,311.69,-3837.29,"DIV, EN EFECT.",45.787,6.81,-83.81
66,2019-05-15,2019-05-15,DIV,35047,SUPV.BA,NaN,NaN,41.34,-3795.95,DIV. EN EFECT.,45.677,0.91,-83.10
67,2019-05-23,2019-05-23,RTA,35520,TS.BA,NaN,NaN,-1.68,-3797.63,EFECT,45.786,-0.04,-82.94
68,2019-07-01,2019-07-01,RTA,36982,DICA,NaN,NaN,-20.50,-3818.13,RENTA,42.750,-0.48,-89.31
69,2019-07-11,2019-07-11,DIV,37375,YPFD.BA,NaN,NaN,27.78,-3790.35,DIV. EN EFECT.,42.194,0.66,-89.83
70,2019-07-11,2019-07-11,RTA,37614,PBR.BA,NaN,NaN,-0.48,-3790.83,EFECT,42.194,-0.01,-89.84
71,2019-07-12,2019-07-12,DIV,37775,ALUA.BA,NaN,NaN,32.86,-3757.97,EFECT.,42.205,0.78,-89.04
72,2019-07-12,2019-07-12,ND,164635,NaN,NaN,NaN,-4.04,-3762.01,Ret.Gan,42.205,-0.10,-89.14
73,2019-08-22,2019-08-22,COBR,30571,NaN,NaN,NaN,10968.01,7206.00,NaN,56.384,194.52,127.80
74,2019-09-05,2019-09-03,CPRA,214630,PBR.BA,15.0,413.089,-6196.34,1009.66,NaN,63.775,-97.16,15.83
75,2019-10-08,2019-10-08,RTA,40195,AO20,NaN,NaN,-23.47,986.19,RTA,67.512,-0.35,14.61
76,2019-10-08,2019-10-08,DIV,40422,PBR.BA,NaN,NaN,-1.02,985.17,DIV,67.512,-0.02,14.59
77,2019-10-10,2019-10-08,CPRA,248739,TS.BA,3.0,1364.237,-4092.71,-3107.54,NaN,68.272,-59.95,-45.52
78,2019-10-10,2019-10-08,VTAS,248818,TS.BA,-6.0,668.353,4010.12,902.58,NaN,68.272,58.74,13.22
79,2019-10-11,2019-10-11,RTA,40585,U11O9,NaN,NaN,NaN,902.58,RESCATE,69.881,NaN,12.92
80,2019-10-28,2019-10-24,CPRA,262451,ALUA.BA,30.0,25.777,-773.32,129.26,NaN,82.432,-9.38,1.57

In [91]:
# Una celda en especial
df.at[70, "Operación"]

'RTA'

# Tabla de significado de operaciones

In [92]:
# Busco los valores únicos en la columna Operación
Valores_de_columna_operacion = df['Operación'].unique()

# Creo el DF con valores
dict_operacion = pd.DataFrame(Valores_de_columna_operacion)
# Nombres de la columnas
dict_operacion.rename(columns={0: "Operación"}, inplace=True)
dict_operacion.set_index('Operación', inplace=True)
# Creo una columna vacía
dict_operacion["Desc"] = ""

# Cambio los que conozco
dict_operacion.at['COBR', 'Desc'] = "Recibo de cobro"
dict_operacion.at['VTAS', 'Desc'] = "Ventas de activos"
dict_operacion.at['CPRA', 'Desc'] = "Compra de activos"
dict_operacion.at['CPP$', 'Desc'] = "Compra Paridad"
dict_operacion.at['RTA', 'Desc'] = "Renta y amortización"
dict_operacion.at['DIV', 'Desc'] = "Dividendos"
dict_operacion.at['ND', 'Desc'] = "Nota de debito"
dict_operacion.at['RGTF', 'Desc'] = "Recupero Gs. Bancarios"
dict_operacion.at['PAGO', 'Desc'] = "Orden de pago"
dict_operacion.at['CLCC', 'Desc'] = "Colocador Caucion Contado"
dict_operacion.at['CCTE', 'Desc'] = "Colocador Caucion Termino"
dict_operacion.at['COTR', 'Desc'] = "Compra Trading"      # de este tengo 1 solo y es Mirgor, lo pasé a CPRA


dict_operacion["Cant. Operaciones"] = df.groupby(['Operación']).size()

# Resultado final
dict_operacion

                                Desc  Cant. Operaciones
Operación
COBR                 Recibo de cobro               13.0
CPRA               Compra de activos              118.0
VTAS               Ventas de activos              120.0
CPP$                  Compra Paridad                2.0
RTA             Renta y amortización               25.0
DIV                       Dividendos               83.0
ND                    Nota de debito                4.0
RGTF          Recupero Gs. Bancarios                4.0
PAGO                   Orden de pago                6.0
CLCC       Colocador Caucion Contado                2.0
CCTE       Colocador Caucion Termino                2.0
COTR                  Compra Trading                NaN

# Importo el dolar CCL

In [93]:
# creo un df con el Dolar CCL
dolarccl = pd.read_csv('data/CCL.csv')
dolarccl['Date'] = pd.to_datetime(dolarccl['Date'])
dolarccl.set_index(dolarccl['Date'], inplace=True)
dolarccl.drop(columns='Date', inplace=True)
dolarccl

                   CCL
Date
2018-01-31   19.446434
2018-02-01   19.744293
2018-02-02   19.730155
2018-02-03   19.730155
2018-02-04   19.730155
...                ...
2022-01-27  230.126720
2022-01-28  220.566635
2022-01-29  220.566635
2022-01-30  220.566635
2022-01-31  223.824795

[1462 rows x 1 columns]

In [94]:
# Agrego la columna valor del CCL en el día de la operación
df['CCL del dia'] = 0.0   # np.arange(0, 353, 1).astype(float)    # valor placeholder. Un float porque después lo tengo que reemplazar por otro float

# coloco el dolar segun el df dolarccl
for operacion in df.index:  # por cada operacion (= indice de df) en el indice de df hago:
    columna = 'Liquida'     # digo que la columna donde voy a sacar los datos es 'Liquida', a futuro lo puedo cambiar por 'Operado'

    # Busco el CCL de la tabla dolarccl, de acuerdo a la fecha
    ccl_operacion = dolarccl.loc[
                                df.at[operacion, columna]
                                ].round(3)
    # print(ccl_operacion)    # para verificacion a ver si está importando bien el CCL

    df.at[operacion, 'CCL del dia'] = ccl_operacion               # y la igualo ccl_operacion a la celda de la operacion de este ciclo

# Chequeo que no haya NaN en CCL
missing_CCL = df['CCL del dia'].isnull().sum()
missing_CCL

0

In [95]:
dolarccl[-30:]

                   CCL
Date
2022-01-02  200.564693
2022-01-03  207.474231
2022-01-04  204.828658
2022-01-05  210.403036
2022-01-06  210.463858
2022-01-07  211.087417
2022-01-08  211.087417
2022-01-09  211.087417
2022-01-10  212.297727
2022-01-11  210.410096
2022-01-12  208.672940
2022-01-13  208.665950
2022-01-14  208.324554
2022-01-15  208.324554
2022-01-16  208.324554
2022-01-17  208.324554
2022-01-18  212.065096
2022-01-19  212.277781
2022-01-20  221.129931
2022-01-21  224.673769
2022-01-22  224.673769
2022-01-23  224.673769
2022-01-24  219.794186
2022-01-25  231.191570
2022-01-26  228.941319
2022-01-27  230.126720
2022-01-28  220.566635
2022-01-29  220.566635
2022-01-30  220.566635
2022-01-31  223.824795

In [96]:
# Importe USD  == Lo que salió la operación en USD
df['ImporteUSD'] = (df['Importe'] / df['CCL del dia']).round(2)
# Saldo USD == lo que tengo en la cuenta saldo en ARS, pasado a USD
df['SaldoUSD'] = (df['Saldo'] / df['CCL del dia']).round(2)

# Cálculos y gráficos de rendimiento

In [107]:
# Primero, agrupar df por cada especie
agrupado_por_especie = df.groupby(['Especie']).sum()
# mostrar la tabla en un df, las demás columnas no me interesan
agrupado_por_especie[['Cantidad', 'Importe', 'ImporteUSD', 'SaldoUSD']].sort_values(by='ImporteUSD')

# Verificar que tengo 0 en cantidad, sino me van a faltar dolares invertidos en acciones
# luego, sumar todos los Importe USD

# Calcular el promedio por operacion:
# agrupado_por_especie[agrupado_por_especie['Cantidad'] == 0.0].mean()

                Cantidad    Importe  ImporteUSD  SaldoUSD
Especie
DESP.BA             94.0 -224677.43    -1066.87   2901.50
SPOT.BA             80.0 -124450.27     -684.88   2518.10
ALUA.BA           1100.0 -105594.20     -509.43   2471.70
GGAL.BA            500.0  -84262.54     -505.14   6684.90
CEDEAR BRF S.A      34.0  -86001.87     -407.42   2394.73
MSFT.BA             11.0  -66095.65     -370.99   2113.00
AY24                 0.0   -6365.98     -322.92   1069.79
YPFD.BA              0.0  -21106.09     -242.53   2691.77
DICA                 0.0    3247.57     -172.45   1033.70
BABA.BA              0.0  -14110.09     -155.92   5436.76
PAMP.BA              0.0    1095.69     -109.88   2066.73
BBD.BA              -3.0   15766.67      -89.49   7441.60
PBR.BA               0.0   24881.72      -78.35   5665.95
CEPU.BA              0.0    -826.07      -75.66   1527.34
T.BA                 0.0   17637.65      -72.61   5326.83
BYMA.BA              0.0    6583.62      -61.30   3572.05
HMY.BA               0.0  -14445.34      -60.55    142.59
SUPV.BA              0.0   12867.16      -41.47   4216.14
CRES - Cres          0.0   -4144.81      -40.42   1171.72
TWTR.BA              0.0   -7344.95      -36.00    653.55
TGSU2.BA2            0.0    2563.03      -18.42   1061.28
PGR.BA               0.0   -1907.45      -13.13     87.66
TS.BA                0.0    8044.19       -8.05   2000.79
HARG.BA              0.0    -169.12       -5.73   1421.43
TXAR.BA              0.0    4677.14       -5.47   2899.33
GOOG.BA              0.0    1916.24       -4.87    222.02
MIRG.BA              0.0    -183.80       -4.09   3290.69
ZM.BA                0.0   11295.81       -2.27    997.97
ESPVS                0.0     130.17       -0.28   4405.58
EDN.BA               0.0     -22.07       -0.24   1362.68
U11O9                5.0      -1.04       -0.02    469.93
GOLD.BA              0.0   19555.56        0.35   2639.22
KO.BA                0.0   38615.22        3.70   3274.58
BOLT.BA           -802.0    4073.35        4.60     65.07
VZ.BA                0.0    6197.11        4.63   4783.68
CVH.BA               0.0    4128.45        8.58    628.57
MRK.BA               0.0   25665.84       10.52   2081.06
ABEV.BA              0.0   14330.35       18.40    944.12
AUSO.BA              0.0    4524.83       28.16     34.34
TECO2.BA             0.0    6428.80       34.42   2690.81
AMD.BA               0.0   11785.33       36.40    691.56
BBAR.BA              0.0    4216.66       41.12   2709.09
HAL.BA               0.0    5641.63       44.76   1194.61
AMZN.BA             -6.0   19837.60       45.51    259.97
DISN.BA              0.0   26970.97       55.35    399.92
C.BA                 0.0   20792.23       56.65    851.44
MELI.BA              0.0   13746.12       61.55   2377.39
CVX.BA               0.0   29987.52       63.28   1659.65
BIOX.BA              0.0   37479.67       65.65   2707.60
FB.BA                0.0   30150.13       68.79   4224.61
BMA.BA               0.0   28560.89       78.94   5343.99
TGLT.BA              0.0   20312.38       82.68    486.36
JPM.BA               0.0   35468.55      112.66   2345.28
GE.BA                0.0   29057.22      170.96   1778.83
AAPL.BA            -30.0  100156.41      345.69   1911.62
AO20                 0.0   66700.85      667.42   2906.39

# Para hacer
* Pasar esto a `resumen.ipynb`
* Hacer `CCL.csv` con otros precios, como BTC, ETH y todas las monedas que tenga 
* Exchanges
    * Suma total de pesos invertidos dolares invertidos
    * inversion con intereses equivalente
    * suma de dolares por broker, gané o perdi en cada broker?

* Hacer grafico con la cantidad de monedas que tengo (entre todos los exchanges)
* Continuar el paso en la hoja "Resumen"

* Calcular la operación en usd
* Limpiar datos: 
    * el split de AAPL
    * bonos
* Agrupar por ticker y sumar la columna ImporteUSD para que calcule cuantos dolares gané o perdí por Especie
* Agregar en las celdas de Referencia lo que haga falta, por ejemplo en COBR poner Transferencia cuando no se tenga el número de movimiento
* Calcular el progreso del portafolio en USD
* Repetir esto con otras notebooks, 
    * posiblemente una en dolares con eco, 
    * otra con invertir online,
    * y otra con Binance
    * podría agregar Meta, Ripio, Trezor, etc
* Cargar los datos que quedarían
* Tener una tabla de resumen
* hacer gráficos con mpl
* Acciones de Merval, CEDEAR, Bonos, y demás
* Balanceo de cartera, cuanto tengo invertido en partes / 5
* Tabla de trades, fecha, precio, cantidad, comision de entrada, duracion (días) costo total, Perdidas y ganancias, % de aciertos, etc.
* PPC BTC y otras crypto
* Comisiones pagadas en USDT
* API Binance y saber qué % de liquidez tengo
* Claro, si pongo el saldo en dolares no quiere decir que mi portafolio valga eso, además tengo que sumar las acciones que tenía en ese momento

# Tests

In [98]:
# Test de yfinance
# Buscar de donde es el mercado de un símbolo (BBD por ejemplo)

import yfinance as yf

symbol = 'BIOX.BA'

ticker = yf.Ticker(symbol)
dir(ticker)
# ticker.recommendations
# type(ticker)
# ticker.info['market']


# ticker = yf.download(ticker)
ticker.history(period='1d')

              Open    High     Low   Close  Volume  Dividends  Stock Splits
Date
2022-02-01  5650.0  5869.5  5649.5  5670.0     283          0             0

In [99]:
df

,Liquida,Operado,Operación,N° Ope.,Especie,Cantidad,Precio,Importe,Saldo,Referencia,CCL del dia,ImporteUSD,SaldoUSD
0,2019-03-01,2019-03-01,COBR,24981,NaN,NaN,NaN,54451.53,54451.53,Transferencia,40.832,1333.55,1333.55
1,2019-03-08,2019-03-06,CPRA,49318,MIRG.BA,10.0,371.097,-3710.97,50740.56,NaN,42.081,-88.19,1205.78
2,2019-03-08,2019-03-06,VTAS,49320,MIRG.BA,-10.0,361.924,3619.24,54359.80,NaN,42.081,86.01,1291.79
3,2019-03-11,2019-03-07,CPRA,50360,BBAR.BA,50.0,140.695,-7034.73,47325.07,NaN,41.761,-168.45,1133.24
4,2019-03-11,2019-03-07,CPRA,50454,PAMP.BA,25.0,49.193,-1229.82,46095.25,NaN,41.761,-29.45,1103.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,2022-01-13,2022-01-11,VTAS,12817,T.BA,-83.0,1840.822,152788.23,54579.35,NaN,208.666,732.21,261.56
375,2022-01-13,2022-01-11,VTAS,12840,VZ.BA,-26.0,5611.025,145886.64,200465.99,NaN,208.666,699.14,960.70
376,2022-01-31,2022-01-27,VTAS,38655,CRES - Cres,-1000.0,110.499,110499.07,310965.06,NaN,223.825,493.69,1389.32
377,2022-01-31,2022-01-27,VTAS,39180,DESP.BA,-40.0,2469.189,98767.57,409732.63,NaN,223.825,441.27,1830.59
378,2022-01-31,2022-01-27,VTAS,39195,CEDEAR BRF S.A,-6.0,3011.983,18071.90,427804.53,NaN,223.825,80.74,1911.33

# Dataframe de dólares

In [100]:
dfusd = pd.read_excel('Data/Movimientos de Moneda Extranjera.xlsx',
                   header=7,                            # saltea las primeras 7 filas,
                   skipfooter=10,                       # saltea las ultimas 10 líneas,
                   usecols="B:K",                       # utiliza las columnas de la B hasta la K
                    )
dfusd.sort_index(ascending=False, inplace=True, ignore_index=True)

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
dfusd

In [ ]:
# Convierto los formatos a números `int` y `float`
# Todos tienen 2 decimales, así que tengo que borrar todos los puntos
# y reemplazar , por .
dfusd['Cantidad'] = dfusd['Cantidad'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float)
# dfusd['Precio'] = dfusd['Precio'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float)     Precio ya es un float
dfusd['Importe'] = dfusd['Importe'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float)
dfusd['Saldo'] = dfusd['Saldo'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False).astype(float)

In [ ]:
# Chequeo resultados
dfusd

In [ ]:
# Me fijo los tipos de datos
dfusd.dtypes

In [ ]:
columnaUSD = 'Especie'
valor_a_buscarUSD = 'AO20 - BONAR 2020'
dfusd.loc[dfusd[columnaUSD] == valor_a_buscarUSD]

In [ ]:
pd.DataFrame(dfusd['Especie'].unique())